libxml-deadlock/ExampleSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD Schema for Pizza Shop -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PizzaOrder" type="PizzaOrderType"/>

  <xs:complexType name="PizzaOrderType">
    <xs:sequence>
      <xs:element name="OrderID" type="xs:string"/>
      <xs:element name="Customer" type="CustomerType"/>
      <xs:element name="Items" type="ItemsType"/>
      <xs:element name="Payment" type="PaymentType"/>
      <xs:element name="OrderTimestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="xs:string"/>
      <xs:element name="Address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="Pizza" type="PizzaType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PizzaType">
    <xs:sequence>
      <xs:element name="Size" type="xs:string"/>
      <xs:element name="Crust" type="xs:string"/>
      <xs:element name="Toppings" type="ToppingsType" minOccurs="0"/>
      <xs:element name="Price" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ToppingsType">
    <xs:sequence>
      <xs:element name="Topping" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentType">
    <xs:sequence>
      <xs:element name="Method" type="xs:string"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="Paid" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
